<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div>
  <span>source:</span>&nbsp;&nbsp;&nbsp;
  <select [(ngModel)]="source" (change)="onSourceOption()">
    <option *ngFor="let currency of currencies" ><span>{{currency}}</span></option>
  </select>
  &nbsp;&nbsp;&nbsp;
  <input [(ngModel)]="sourceAmount" (keyup)="onSourceInput()"/>
</div>
<br/>
<div>
    <span>target&nbsp;:</span>&nbsp;&nbsp;&nbsp;
    <select [(ngModel)]="target" (change)="onTargetOption()">
      <option *ngFor="let currency of currencies"><span>{{currency}}</span></option>
    </select>
    &nbsp;&nbsp;&nbsp;
    <input [(ngModel)]="targetAmount" (keyup)="onTargetInput()"/>
</div>
